In [2]:
import numpy as np
import pandas as pd

In [3]:
# Show all column in head()
pd.set_option('display.max_columns', None)

# Tweet data

In [4]:
tweet_df = pd.read_csv('tweets_final2.csv')

In [5]:
tweet_df.columns

Index(['tweetId', 'created_at', 'lang', 'isRetweet', 'parent_tweet_created_at',
       'hoursDiffFromParent', 'tweet_userId', 'followers_count',
       'company_name', 'afinn_verdict', 'afinn_score', 'afinn_comparative',
       'no_of_positive_words', 'no_of_negative_words', 'positive_words',
       'negative_words', 'cleaned_text', 'raw_text'],
      dtype='object')

In [6]:
tweet_df.head()

,tweetId,created_at,lang,isRetweet,parent_tweet_created_at,hoursDiffFromParent,tweet_userId,followers_count,company_name,afinn_verdict,afinn_score,afinn_comparative,no_of_positive_words,no_of_negative_words,positive_words,negative_words,cleaned_text,raw_text
0,418229860210057216,31/12/2013 22:59,en,True,30/12/2013 19:33,27,1938270918,2,AAPL,NEUTRAL,0,0.000000,0,0,NaN,NaN,rt philstockworld summary of yesterday's webca...,RT @philstockworld: Summary of Yesterday's Web...
1,418222419485421568,31/12/2013 22:29,en,True,30/12/2013 19:33,26,1933063572,3,AAPL,NEUTRAL,0,0.000000,0,0,NaN,NaN,rt philstockworld summary of yesterday's webca...,RT @philstockworld: Summary of Yesterday's Web...
2,418443702579654656,01/01/2014 13:08,en,False,01/01/2014 13:08,0,23059499,48108,AAPL,POSITIVE,1,0.166667,1,0,boost,NaN,itv will boost apple aapl apple,iTV Will Boost Apple http://t.co/8dup4cQc08 $A...
3,418198017015959552,31/12/2013 20:52,en,False,31/12/2013 20:52,0,23954327,17449,AAPL,POSITIVE,2,0.153846,1,0,intelligent,NaN,iphone users are more intelligent than samsung...,#iPhone users are more intelligent than #Samsu...
4,418189481607696384,31/12/2013 20:18,en,True,30/12/2013 19:33,24,1937591882,6,AAPL,NEUTRAL,0,0.000000,0,0,NaN,NaN,rt philstockworld summary of yesterday's webca...,RT @philstockworld: Summary of Yesterday's Web...

# Drop tweets with NEUTRAL state (Only Positive or Negative affinverdict)

In [7]:
tweet_df = tweet_df.loc[(tweet_df['afinn_verdict']=='POSITIVE') | (tweet_df['afinn_verdict']=='NEGATIVE')]
print(tweet_df.shape)

(44945, 18)

In [8]:
# High follower tweets

hf_df = tweet_df.loc[tweet_df['followers_count']>1000]
print(hf_df.shape)

(12709, 18)

In [9]:
hf_positive_df = hf_df.loc[(hf_df['afinn_verdict']=='POSITIVE')]
hf_negative_df = hf_df.loc[(hf_df['afinn_verdict']=='NEGATIVE')]
print(hf_positive_df.shape)
print(hf_negative_df.shape)

(8848, 18)
(3861, 18)

# Close price info

In [10]:
scrip_list = ["AAPL","ABB","ABBV","AEP","AGFS","AMGN","AMZN","BA","BABA","BAC","BBL","BCH","BHP","BP","BRK-A","BSAC","BUD","C","CAT","CELG","CHL","CHTR","CMCSA","CODI","CSCO","CVX",
              "D","DHR","DIS","DUK","EXC","FB","GD","GE","GOOG","HD","HON","HRG","HSBC","IEP","INTC","JNJ","JPM","KO","LMT","MA","MCD","MDT","MMM","MO","MRK","MSFT","NEE","NGG",
              "NVS","ORCL","PCG","PCLN","PEP","PFE","PG","PICO","PM","PPL","PTR","RDS-B","REX","SLB","SNP","SNY","SO","SPLP","SRE","T","TM","TOT","TSM","UL","UN","UNH","UPS","UTX",
              "V","VZ","WFC","WMT","XOM"]
# First read AAPL data as starting point and later merge with other files
all_close_price_df = pd.read_excel('D:\\projects\\datascience\\stocknet-dataset-master\\price\\kesh_processed\\AAPL.xlsx')
all_close_price_df['scrip_code'] = 'AAPL'
scrip_list.remove('AAPL')

for ascrip in scrip_list:
    file_path = 'D:\\projects\\datascience\\stocknet-dataset-master\\price\\kesh_processed\\'+ascrip+'.xlsx'    
    df = pd.read_excel(file_path)
    df['scrip_code'] = ascrip
    all_close_price_df = pd.concat([all_close_price_df, df])

In [11]:
all_close_price_df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'volume_vs_5d_avg_vol', '5d_gain_percent', '5d_loss_percent',
       '20d_gain_percent', '20d_loss_percent', 'scrip_code'],
      dtype='object')

In [12]:
all_close_price_df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,volume_vs_5d_avg_vol,5d_gain_percent,5d_loss_percent,20d_gain_percent,20d_loss_percent,scrip_code
0,2012-09-04,95.108574,96.448570,94.928574,96.424286,87.121140,91973000.0,NaN,1.20716,-0.361175,4.43316,-1.27916,AAPL
1,2012-09-05,96.510002,96.621429,95.657143,95.747147,86.509338,84093800.0,NaN,1.02609,-1.95639,4.24633,-2.83005,AAPL
2,2012-09-06,96.167145,96.898575,95.828575,96.610001,87.288956,97799100.0,NaN,0.737141,-2.20632,3.94816,-3.00388,AAPL
3,2012-09-07,96.864288,97.497147,96.538574,97.205711,87.827171,82416600.0,NaN,0.442502,-2.92555,3.30999,-3.71725,AAPL
4,2012-09-10,97.207146,97.612854,94.585716,94.677139,85.542564,121999500.0,NaN,2.00355,-0.921311,3.18753,-1.72935,AAPL
5,2012-09-11,95.015717,95.728569,93.785713,94.370003,85.265068,125995800.0,1.31717,4.43218,-0.0761587,5.21863,-3.10586,AAPL
6,2012-09-12,95.264282,95.699997,93.714287,95.684288,86.452538,178058300.0,1.73782,4.84102,0,5.25004,-4.94664,AAPL
7,2012-09-13,96.767143,97.928574,96.395714,97.568573,88.155037,149590000.0,1.23369,2.6973,0,2.85485,-7.59073,AAPL
8,2012-09-14,98.565712,99.568573,98.269997,98.754288,89.226341,150118500.0,1.14061,1.00577,0,1.16072,-9.35323,AAPL
9,2012-09-17,99.907143,99.971428,99.230003,99.968575,90.323479,99507800.0,0.68554,0.753076,-0.14253,0.753076,-10.2302,AAPL

# Merging Tweet and closing price

### Standardise or normalize date fields

In [13]:
tweet_df['created_at'] = pd.to_datetime(tweet_df['created_at'], format = "%d/%m/%Y %H:%M")
tweet_df['parent_tweet_created_at'] = pd.to_datetime(tweet_df['parent_tweet_created_at'], format = "%d/%m/%Y %H:%M")

In [14]:
tweet_df.head()

,tweetId,created_at,lang,isRetweet,parent_tweet_created_at,hoursDiffFromParent,tweet_userId,followers_count,company_name,afinn_verdict,afinn_score,afinn_comparative,no_of_positive_words,no_of_negative_words,positive_words,negative_words,cleaned_text,raw_text
2,418443702579654656,2014-01-01 13:08:00,en,False,2014-01-01 13:08:00,0,23059499,48108,AAPL,POSITIVE,1,0.166667,1,0,boost,NaN,itv will boost apple aapl apple,iTV Will Boost Apple http://t.co/8dup4cQc08 $A...
3,418198017015959552,2013-12-31 20:52:00,en,False,2013-12-31 20:52:00,0,23954327,17449,AAPL,POSITIVE,2,0.153846,1,0,intelligent,NaN,iphone users are more intelligent than samsung...,#iPhone users are more intelligent than #Samsu...
6,418396495692316672,2014-01-01 10:01:00,en,False,2014-01-01 10:01:00,0,23669783,14958,AAPL,NEGATIVE,-1,-0.142857,1,1,big,screwed,apple screwed up big time amzn aapl,Apple Screwed Up Big Time http://t.co/Q2Pzk2VO...
8,418396495692316672,2014-01-01 10:01:00,en,False,2014-01-01 10:01:00,0,23669783,14958,AMZN,NEGATIVE,-1,-0.142857,1,1,big,screwed,apple screwed up big time amzn aapl,Apple Screwed Up Big Time http://t.co/Q2Pzk2VO...
10,418261032239243264,2014-01-01 01:02:00,en,False,2014-01-01 01:02:00,0,2238139854,322,BAC,POSITIVE,7,0.583333,2,0,"great,wow",NaN,wow great stock research on rmbs bac pse grt ...,Wow. Great #Stock #Research on $RMBS $BAC $PSE...

# Close price date

In [15]:
all_close_price_df['Date'] = pd.to_datetime(all_close_price_df['Date'], format = "%Y-%m-%d")

In [16]:
all_close_price_df['Date'].describe()

count                  108295
unique                   1258
top       2016-04-04 00:00:00
freq                       87
first     2012-09-04 00:00:00
last      2017-09-01 00:00:00
Name: Date, dtype: object

In [17]:
all_close_price_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,volume_vs_5d_avg_vol,5d_gain_percent,5d_loss_percent,20d_gain_percent,20d_loss_percent,scrip_code
0,2012-09-04,95.108574,96.448570,94.928574,96.424286,87.121140,91973000.0,NaN,1.20716,-0.361175,4.43316,-1.27916,AAPL
1,2012-09-05,96.510002,96.621429,95.657143,95.747147,86.509338,84093800.0,NaN,1.02609,-1.95639,4.24633,-2.83005,AAPL
2,2012-09-06,96.167145,96.898575,95.828575,96.610001,87.288956,97799100.0,NaN,0.737141,-2.20632,3.94816,-3.00388,AAPL
3,2012-09-07,96.864288,97.497147,96.538574,97.205711,87.827171,82416600.0,NaN,0.442502,-2.92555,3.30999,-3.71725,AAPL
4,2012-09-10,97.207146,97.612854,94.585716,94.677139,85.542564,121999500.0,NaN,2.00355,-0.921311,3.18753,-1.72935,AAPL

In [18]:
def mapMergeDate(tweet_date, company_name) :
    if (tweet_date.hour<15) : # If hour after 3pm, then use next dat close price data
        dfQuery = '(scrip_code == \'' + company_name + '\') & (Date <=\'' + str(tweet_date) +'\')'
        #print(dfQuery)
        subset_df = all_close_price_df.loc[all_close_price_df.eval(dfQuery)]
        #print(subset_df.shape[0])
        if (subset_df.shape[0]>0):
            return max(subset_df['Date'])
        else:
            return np.nan
    else:
        dfQuery = '(scrip_code == \'' + company_name + '\') & (Date > \'' + str(tweet_date) +'\')'
        #print(dfQuery)
        subset_df = all_close_price_df.loc[all_close_price_df.eval(dfQuery)]
        #print(subset_df.shape[0])
        if (subset_df.shape[0]>0):
            return min(subset_df['Date'])
        else:
            return np.nan
    
    
#tweet_df['merge_date'] = tweet_df[['parent_tweet_created_at', 'lang']].apply(mapMergeDate) 

tweet_df['merge_date'] = tweet_df.apply(lambda x: mapMergeDate(x['created_at'], x['company_name']), axis=1)

In [19]:
tweet_df.head()

,tweetId,created_at,lang,isRetweet,parent_tweet_created_at,hoursDiffFromParent,tweet_userId,followers_count,company_name,afinn_verdict,afinn_score,afinn_comparative,no_of_positive_words,no_of_negative_words,positive_words,negative_words,cleaned_text,raw_text,merge_date
2,418443702579654656,2014-01-01 13:08:00,en,False,2014-01-01 13:08:00,0,23059499,48108,AAPL,POSITIVE,1,0.166667,1,0,boost,NaN,itv will boost apple aapl apple,iTV Will Boost Apple http://t.co/8dup4cQc08 $A...,2013-12-31
3,418198017015959552,2013-12-31 20:52:00,en,False,2013-12-31 20:52:00,0,23954327,17449,AAPL,POSITIVE,2,0.153846,1,0,intelligent,NaN,iphone users are more intelligent than samsung...,#iPhone users are more intelligent than #Samsu...,2014-01-02
6,418396495692316672,2014-01-01 10:01:00,en,False,2014-01-01 10:01:00,0,23669783,14958,AAPL,NEGATIVE,-1,-0.142857,1,1,big,screwed,apple screwed up big time amzn aapl,Apple Screwed Up Big Time http://t.co/Q2Pzk2VO...,2013-12-31
8,418396495692316672,2014-01-01 10:01:00,en,False,2014-01-01 10:01:00,0,23669783,14958,AMZN,NEGATIVE,-1,-0.142857,1,1,big,screwed,apple screwed up big time amzn aapl,Apple Screwed Up Big Time http://t.co/Q2Pzk2VO...,2013-12-31
10,418261032239243264,2014-01-01 01:02:00,en,False,2014-01-01 01:02:00,0,2238139854,322,BAC,POSITIVE,7,0.583333,2,0,"great,wow",NaN,wow great stock research on rmbs bac pse grt ...,Wow. Great #Stock #Research on $RMBS $BAC $PSE...,2013-12-31

In [20]:
# Merge Tweet DF with  close price
merged_df = pd.merge(tweet_df, all_close_price_df,  how='inner', left_on=['company_name','merge_date'], right_on = ['scrip_code','Date'])

In [21]:
merged_df.head(5)

,tweetId,created_at,lang,isRetweet,parent_tweet_created_at,hoursDiffFromParent,tweet_userId,followers_count,company_name,afinn_verdict,afinn_score,afinn_comparative,no_of_positive_words,no_of_negative_words,positive_words,negative_words,cleaned_text,raw_text,merge_date,Date,Open,High,Low,Close,Adj Close,Volume,volume_vs_5d_avg_vol,5d_gain_percent,5d_loss_percent,20d_gain_percent,20d_loss_percent,scrip_code
0,418443702579654656,2014-01-01 13:08:00,en,False,2014-01-01 13:08:00,0,23059499,48108,AAPL,POSITIVE,1,0.166667,1,0,boost,NaN,itv will boost apple aapl apple,iTV Will Boost Apple http://t.co/8dup4cQc08 $A...,2013-12-31,2013-12-31,79.167145,80.182854,79.142860,80.145714,74.571281,55771100.0,0.824783,0,-3.68232,0,-9.99639,AAPL
1,418396495692316672,2014-01-01 10:01:00,en,False,2014-01-01 10:01:00,0,23669783,14958,AAPL,NEGATIVE,-1,-0.142857,1,1,big,screwed,apple screwed up big time amzn aapl,Apple Screwed Up Big Time http://t.co/Q2Pzk2VO...,2013-12-31,2013-12-31,79.167145,80.182854,79.142860,80.145714,74.571281,55771100.0,0.824783,0,-3.68232,0,-9.99639,AAPL
2,418198017015959552,2013-12-31 20:52:00,en,False,2013-12-31 20:52:00,0,23954327,17449,AAPL,POSITIVE,2,0.153846,1,0,intelligent,NaN,iphone users are more intelligent than samsung...,#iPhone users are more intelligent than #Samsu...,2014-01-02,2014-01-02,79.382858,79.575714,78.860001,79.018570,73.522530,58671200.0,1.09241,0,-3.33684,0.569091,-10.0214,AAPL
3,418600422740197378,2014-01-01 23:31:00,en,True,2013-12-30 11:13:00,60,1653399757,21,AAPL,POSITIVE,1,0.066667,1,0,huge,NaN,rt stocktwits here's how apple could be making...,RT @StockTwits: Here's how Apple could be maki...,2014-01-02,2014-01-02,79.382858,79.575714,78.860001,79.018570,73.522530,58671200.0,1.09241,0,-3.33684,0.569091,-10.0214,AAPL
4,418765690913705984,2014-01-02 10:28:00,en,True,2014-01-02 08:55:00,1,1951070833,5,AAPL,POSITIVE,6,0.272727,2,0,"wins,top",NaN,rt philstockworld our top 3 trade ideas for 20...,RT @philstockworld: Our Top 3 Trade Ideas for ...,2014-01-02,2014-01-02,79.382858,79.575714,78.860001,79.018570,73.522530,58671200.0,1.09241,0,-3.33684,0.569091,-10.0214,AAPL

In [22]:
merged_df.shape

(44901, 32)

In [23]:
tweet_df.shape

(44945, 19)

In [24]:
# Drop duplicate columns after merge 
merged_df = merged_df.drop(['merge_date', 'scrip_code'], axis=1)

In [25]:
merged_df.head()

,tweetId,created_at,lang,isRetweet,parent_tweet_created_at,hoursDiffFromParent,tweet_userId,followers_count,company_name,afinn_verdict,afinn_score,afinn_comparative,no_of_positive_words,no_of_negative_words,positive_words,negative_words,cleaned_text,raw_text,Date,Open,High,Low,Close,Adj Close,Volume,volume_vs_5d_avg_vol,5d_gain_percent,5d_loss_percent,20d_gain_percent,20d_loss_percent
0,418443702579654656,2014-01-01 13:08:00,en,False,2014-01-01 13:08:00,0,23059499,48108,AAPL,POSITIVE,1,0.166667,1,0,boost,NaN,itv will boost apple aapl apple,iTV Will Boost Apple http://t.co/8dup4cQc08 $A...,2013-12-31,79.167145,80.182854,79.142860,80.145714,74.571281,55771100.0,0.824783,0,-3.68232,0,-9.99639
1,418396495692316672,2014-01-01 10:01:00,en,False,2014-01-01 10:01:00,0,23669783,14958,AAPL,NEGATIVE,-1,-0.142857,1,1,big,screwed,apple screwed up big time amzn aapl,Apple Screwed Up Big Time http://t.co/Q2Pzk2VO...,2013-12-31,79.167145,80.182854,79.142860,80.145714,74.571281,55771100.0,0.824783,0,-3.68232,0,-9.99639
2,418198017015959552,2013-12-31 20:52:00,en,False,2013-12-31 20:52:00,0,23954327,17449,AAPL,POSITIVE,2,0.153846,1,0,intelligent,NaN,iphone users are more intelligent than samsung...,#iPhone users are more intelligent than #Samsu...,2014-01-02,79.382858,79.575714,78.860001,79.018570,73.522530,58671200.0,1.09241,0,-3.33684,0.569091,-10.0214
3,418600422740197378,2014-01-01 23:31:00,en,True,2013-12-30 11:13:00,60,1653399757,21,AAPL,POSITIVE,1,0.066667,1,0,huge,NaN,rt stocktwits here's how apple could be making...,RT @StockTwits: Here's how Apple could be maki...,2014-01-02,79.382858,79.575714,78.860001,79.018570,73.522530,58671200.0,1.09241,0,-3.33684,0.569091,-10.0214
4,418765690913705984,2014-01-02 10:28:00,en,True,2014-01-02 08:55:00,1,1951070833,5,AAPL,POSITIVE,6,0.272727,2,0,"wins,top",NaN,rt philstockworld our top 3 trade ideas for 20...,RT @philstockworld: Our Top 3 Trade Ideas for ...,2014-01-02,79.382858,79.575714,78.860001,79.018570,73.522530,58671200.0,1.09241,0,-3.33684,0.569091,-10.0214

In [26]:
merged_df.to_csv("full_merged_tweet_df.csv", index=False)